h2 {
	font-size: 50px;
	text-align:center;
}

h3 {
    font-size: 18px;
	font-weight: bold;
	
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin: 60px 10%;
}
.detail{
	text-align: center;
}

